body{
	background-image: linear-gradient(to right,rgb(32,146,245),rgb(16,38,80));
  padding: 30px;
}

.header{
  text-align: center;
  backface-visibility: hidden;
}

.header-btn{
	color: #ffff;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  background: rgba(255,255,255,0);
  border-radius: 5px;
  backface-visibility: hidden;
  transition: all 0.3s;
	box-shadow: 0 1px 5px rgba(0,0,0,1);
}
.header-btn:hover{
  transform: scale(1.1);
	box-shadow: 0 2px 10px rgba(0,0,0,0.6);
}

.animation-box{
  margin-top: 50px;
  display: flex;
  border: solid 1px;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.animation-box div{
  height: 250px;
  margin: 20px 0 20px 0;
  width: 25%;
  border: solid 1px;
  position: relative;
  backface-visibility: hidden;
}
.card-1 a{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,0);
  backface-visibility: hidden;
}
.btn-card-1{
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  background: rgba(255,255,255,0.9);
  border-radius: 5px;
  backface-visibility: hidden;
  transition: all 0.3s;
}
.btn-card-1:hover{
  opacity: 0.3;
  transform: scale(1.1);
  transform: translate(-50%,0);
	box-shadow: 0px 2px 10px rgb(0,0,0);
}
